<template name="skills">
	<div id="about-middle" class="clearfix">
		<div class="content-left">
			<div class="clearfix"><h2>My skills</h2></div>
			<ul id="chart">
				<li class="one">{{one_skill}}</li>
				<li class="four">{{two_skill}}</li>
				<li class=" three">{{three_skill}}</li>
				<li class="five">{{four_skill}}</li>
				<li class="six">{{five_skill}}</li>
			</ul>
			<div id="axis"></div>
		</div>
		<div class="content-right">
			<div class="clearfix"><h2>What can I do</h2></div>
			<ul id="check">
				<li>{{one}}</li>
				<li>{{two}}</li>
				<li>{{three}}</li>
				<li class="last">{{four}}</li>
			</ul>
		</div>
	</div>
</template>